# This is a basic workflow that is manually triggered

name: Weekly Build

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch:
  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
      with:
          tag_name: Build-$GITHUB_RUN_NUMBER
          release_name: Build-$GITHUB_RUN_NUMBER
          body: |
            ![Java CI](https://github.com/NPEX42/NPlib/workflows/Java%20CI/badge.svg) 
            Weekly Build
          draft: false
          prerelease: true
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/NPlib-weekly.jar
        asset_name: NPlib-Weekly 
